@media all and (max-width: 1024px) {
    .searchFilter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 95%;

        .filter {
            display: block;
            width: 80%;
            height: 100%;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            text-align: center;
            padding: 1% 2% 0 2%;

        }

        .searchButton {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1%;
            width: 80%;
            height: 20%;
            background-color: #3b96ff;
            border-radius: 10px;
            border: none;

            &:hover {
                transition-duration: 600ms;
                background: #2578d8;
                .textSearch {
                    transition-duration: 600ms;
                    font-size: 22px;
                }
            }

            .imgSearch {
                max-width: 4vw;
                margin-top: 3%;
            }

            .textSearch {
                text-align: center;
                letter-spacing: -0.96px;
                color: #ffffff;
                font-size: 20px;
            }
        }
    }
    .filter_search {
        vertical-align: middle;
    
    .filter_img {
        text-align: left;
        width: 100%;
        max-width: 90px;
        min-width: 15px;
        height: auto;
        max-height: 90px;
        min-height: 15px;
        object-fit: cover;
    }
    
    .filter_nameSearch
    {
            margin-left: 5%;
    }
    
    mat-chip {
        margin-top: 1%;
        float: right;
        margin-right: 10%;
        border-radius: 12px;
        background-color: #323546;
        color: #a1a7bb;
    }
    mat-chip > label {
        display: block;
        padding: 6px;
        border-radius: 12px;
    }
    }
}

@media all and (min-width: 1024px) {
    .searchFilter {
        width: 85%;
        display: flex;
        flex-direction: row;

        .filter {
            width: 948px;

        }

        .searchButton {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-left: 0.5%;
            width: 155px;
            height: 135px;
            background-color: #3b96ff;
            border-radius: 10px;
            border: none;

            &:hover {
                transition-duration: 600ms;
                background: #2578d8;
                .textSearch {
                    transition-duration: 600ms;
                    font-size: 1.35vw;
                }
            }

            .imgSearch {
                max-width: 2.3vw;
                height: auto;
            }

            .textSearch {
                text-align: center;
                letter-spacing: -0.96px;
                color: #ffffff;
                font-size: 1.3vw;
            }
        }
    }

    .filter_search {
        vertical-align: middle;
    
    .filter_img {
        text-align: left;
        width: 100%;
        max-width: 90px;
        min-width: 15px;
        height: auto;
        max-height: 90px;
        min-height: 15px;
        object-fit: cover;
    }
    
    .filter_nameSearch
    {
            margin-left: 5%;
    }
    
    mat-chip {
        margin-top: 1%;
        float: right;
        margin-right: 10%;
        border-radius: 12px;
        background-color: #323546;
        color: #a1a7bb;
    }
    mat-chip > label {
        display: block;
        padding: 6px;
        border-radius: 12px;
    }
    }
}

