
.termsAndCondition_fond {
    background: url("http://localhost:3000/assets/background_without _rocket&Cloud.png") no-repeat;
    min-height: 1000px;

    .termsAndCondition_container {
    width: 70%;
    margin: auto;
    padding: 20px;
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 14px 2px rgba(105, 130, 241, 0.555);
    margin-top: 3%;
    padding-bottom: 2%;
    background-color: #131325;
    border-radius: 15px;
    margin-bottom: 5%;
    
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 1%;

  }
  
  .subtitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1.8%;
    margin-top: 3%;

}
}

}