
 .mainDiv{
    display:flex;
    flex-direction: column;
}

.firstPage{
    background: url('http://localhost:3000/background_with_rocket.png') no-repeat;
    background-size:cover;
    width:100%;
    height: 1000px; 
}

.titleh1{
    margin: 5% 0% 0% 13%;
    text-align: left;
    letter-spacing: -2px;
    color: #FFFFFF;
    font-size: 5vw;
}

.titleh2{
    margin: 0% 0% 0% 35%;
    text-align: left;
    letter-spacing: -2px;
    color: #FFFFFF;
    font-size: 3vw;
}

.filter{
    display: flex;
    flex-direction: row;
    margin: 5% 0% 0% 13%;
    top: 492px;
    left: 240px;
    width: 948px;
    height: 117px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.topTrendingTitle {
    top: 2465px;
    left: 812px;
    height: 56px;
    text-align: center;
    letter-spacing: -1.6px;
    opacity: 1;
    color: #1b1b1b;
    font-size: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.spanTokenTitle {
    color: #30d0b8;
}

.rectangle {
    /*   top: 2710px;
    left: 152px; */

    width: 18%;
    height: 330px;
    /* UI Properties */
    background: #283358 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;
    text-align: center;
    margin: 20px
}

.all {
    text-align: center;
}
