@media all and (min-width:1024px){

    .infoCoin_page{
        background: url("hhttp://localhost:3000/assets/background_with_rocket5.png") no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 1000px;

        .infoCoin_container{
            background-color: #060A46;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top:2%;
            width: 85%;
            height: 820px;
            border-radius: 15px;
            box-shadow: 0px 0px 2px 2px rgba(255, 255, 255);

            .infoCoin_img{
                width: 6vw;
                height: 6vw;
            }
    
            .infoCoin_name{
                font-family: "Roboto", sans-serif;
                font-size: 3.4vw;
                margin-left:2%;
                color:white;
            }

            .infoCoin_infoAndIframe{
                display: flex;
                flex-direction:row;
                align-items: center;
                justify-content: center;
                width: 95%;
                height: 73%;

                .infoCoin_info{
                    font-family: "Roboto", sans-serif;
                    font-size: 1.4vw;
                    width: 40%;
                    margin:3%;
                    height: auto;
                    color: white;
                }

                .infoCoin_iframe{
                    width: 55%;
                    margin-right:3%;
                    border-radius: 15px;
                    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255);
                }

            }
        }
    }
}
