.container {
  margin: 5% auto;
  font-size: 120%;
  width: 80%;
}

table tbody tr td NavLink {
  display: block;
  width: 100%;
  height: 100%;
}

td {
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 100px;
  min-width: 30px;
  height: auto;
  max-height: 100px;
  min-height: 30px;
  float: left;
  object-fit: cover;
}

.paginationLaunchDate {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  height: auto;
}

.paginationLaunchDate a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0.3%;
}

.paginationLaunchDate a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.paginationLaunchDate a:hover:not(.active) {
  background-color: #ddd;
}

.disable {
  cursor: not-allowed;
  background-color: #dddd;
}

.paginationPageActuel {
  margin-top: 1%;
  margin-right: 1%;
}

.typo {
  text-align: "center";
}

.thPointer {
  cursor: "pointer";
}

.controlDropdown {
  background-color: transparent !important;
  margin-bottom: 10%;
}

.searchInput {
 /*  font-size: inherit;
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 3.3rem;
  width: 400px;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 50px;
  word-wrap: break-word;
  background-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 8%; */
}

.searchInput::placeholder {
  color: #333;
}

.controlDropdownRoot {
  display: inline-block;
  width: 20%;
}
