    
  
        .titleSubmit {
            padding-top: 20px;
            text-align: center;
            color: black;
        }
    
        .divCorpSubmit
        {
        /*     color: white; */
            background-color: #428FFE;
            margin: 0 auto;
            width: 1000px;
        }
    

      
 
   