

.formulaireSubmit
{
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.FormLabel{
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.FormInput
{

    margin-left: 10px;
}

.submitInput
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}