.navTabAdmin {
  display: flex;
  padding-top: 1.3%;
  padding-bottom: 2%;

  /* background-color: #3e6aff; */
  .itemTabAdminClick{
    color: #0859FF;
    margin-right: 10px;
  }

  .itemTabAdmin {
    margin-right: 10px;
  }

  /*  .itemTabAdmin:hover {
        color: red;
      } */
}
