    
  
        .titleSubmit {
            padding-top: 20px;
            text-align: center;
            color: #F7F7F7;
        }
    
        .divCorpSubmit
        {
        /*     color: white; */
            background: linear-gradient(#000faf, #1969FF, #6d9df7 );   
            background-color: #000faf;
            margin: auto;
            max-width: 1000px;
            min-width: 150px;
        }
    

      
 
   