    
  
        .titleSubmit {
            text-align: center;
        }
    
        .divCorpSubmit
        {
            background-color: #428FFE;
            margin: 0 auto;
            width: 50%;
        }
    
 
   