@import "./setting";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


@font-face {
  font-family: "dozen";
  src: local("dozen"),
   url("../front//Dozen/dozen-regular.otf") format("truetype");
  font-weight: bold;
  }
