.validationFormulaire_fond {
    background-color: #050945;
    min-height: 1000px;
}
.validationFormulaire_text
{
   color: white; 
}

.validationFormulaire_divFooter
{
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;
}