.allTokens_fond{
    background-color:#050945;

    .allTokens_sectionTitle {
        margin-top:3%;
        text-align: center;
        margin-left: 1%;
        letter-spacing: -1.6px;
        color:#3888E5;
        font-size: 4vw;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .divFooter{
        position:fixed;
        left:0;
        bottom: 0;
        width: 100%;
    }
}

