.topTrending_filterContainer {
  width: 100%;
  margin-bottom: 5%;

  .topTrending_filterOne {
    display: inline-block;
    width: 14%;
    height: 70px;
    border: #069 solid 2px;
    border-radius: 10px;
  }

  .topTrending_filter {
    display: inline-block;
    width: 14%;
    height: 70px;
    border: #069 solid 2px;
    margin-left: 3%;
    border-radius: 10px;
  }
  .topTrending__filterTitle {
    text-align: center;
    line-height: 70px;
  }
  .topTrending_filter:hover {
    cursor: pointer;
    background-color: #198754;
  }

  .topTrending_filterOne:hover {
    cursor: pointer;
    background-color: #198754;
  }
}

.topTrending_imgUpArrow {
  margin-bottom: 3px;
  max-width: 10px;
  max-height: 20px;
}

.topTrending_img {
  width: 100%;
  max-width: 100px;
  min-width: 30px;
  height: auto;
  max-height: 100px;
  min-height: 30px;
  float: left;
  object-fit: cover;
}
.typo {
  text-align: "center";
}

.topTrending_container {
  margin: 5% auto;
  font-size: 120%;
  width: 80%;

  .topTrending_thPointer {
    cursor: "pointer";
  }
  .topTrending_PageTd {
    vertical-align: middle;
  }

  .topTrending_pagination {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    height: auto;

    .topTrending_paginationPageActuel {
      margin-top: 1%;
      margin-right: 1%;
    }

    .topTrending_pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: 1px solid #ddd;
      margin: 0.3%;
    }
    .topTrending_pagination a.active {
      background-color: #4caf50;
      color: white;
      border: 1px solid #4caf50;
    }
    .topTrending_pagination a:hover:not(.active) {
      background-color: #ddd;
    }

    .topTrending_pagination {
      margin-top: 1%;
      margin-right: 1%;
    }
  }
}

@media all and (max-width: 1024px) {
  .topTrending_mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 1000px; */

    .topTrending_divSectionTitle {
      margin-top: 5%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      position: inherit;

      .topTrending_imgLogoSection {
        max-width: 13vw;
        height: auto;
      }

      .topTrending_sectionTitle {
        margin-left: 1%;
        letter-spacing: -1.6px;
        color: #1b1b1b;
        font-size: 8vw;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .topTrending_tokensTitle {
        color: #30d0b8;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .topTrending_mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 1000px; */

    .topTrending_divSectionTitle {
      margin-top: 6%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      position: inherit;

      .topTrending_imgLogoSection {
        max-width: 4vw;
        height: auto;
      }

      .topTrending_sectionTitle {
        margin-left: 1%;
        letter-spacing: -1.6px;
        color: #1b1b1b;
        font-size: 3.2vw;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .topTrending_tokensTitle {
        color: #30d0b8;
      }
    }
  }
}
