.formulaireSubmit
{
    margin:0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput{
    background-color: #ffffff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(37, 0, 122);
    font-size: 1vw;
	margin: 0 auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 0.3vw;
    border: 0.1rem solid;
    border-color:#cedeff;
    transition: all 0.3s;
}

label{
    display: flex;
    flex-direction: column;
    color:#450ca0;
    font-size: max(0.84vw, 11px);
    width: 80%;
    text-shadow: -0.05em 0.03em 0.25em #c7f5ca;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.formLabel{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.multiSelect{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submitInput
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
