form
{
    margin:0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    display: flex;
    background-color: #e6f5ff;
}

label{
    display: flex;
    flex-direction: column;
    color:#450ca0;
    font-size: max(0.84vw, 11px);
    width: 80%;
    text-shadow: -0.05em 0.03em 0.25em #c7f5ca;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.FormLabel{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#submitInput
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

