label{
    color:#260161;
    font-size: max(0.84vw, 11px);
    width: 70%;
    text-shadow: -0.05em 0.03em 0.25em #c7f5ca;
}

.formulaireSubmit
{
    margin:0 auto;
    width: 50%;
}

.FormLabel{
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.FormInput
{

    margin-left: 10px;
}

.submitInput
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

