.footerContainer {
    background-image: url(https://fantomtribune.osc-fr1.scalingo.io/assets/fond_bandeau2.png);
    background-repeat: repeat-x;
    background-size: cover;
    color: #fff;
    font-size: 14px;
    padding: 40px 0;

  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
  }
  
  .footerContent img {
    height: 50px;
    margin-right: 20px;
  }
  
  .footerContent nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footerContent nav ul li {
    margin-right: 20px;
  }
  
  .footerContent nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footerContent nav ul li a:hover {
    text-decoration: underline;
  }
  
  .socialMedia {
    display: flex;
  }
  
  .socialMedia img {
    height: 25px;
    margin-right: 10px;
  }
  
  .footerBottom {
    margin-top: 40px;
    text-align: center;
  }
  
  .footerBottom hr {
    border: 0;
    border-top: 1px solid #fff;
    margin-bottom: 20px;
  }
  
  .footerBottom ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footerBottom ul li {
    margin-right: 20px;
  }
  
  .footerBottom ul li:last-child {
    margin-right: 0;
  }




  @media screen and (max-width: 1024px) {
    .footerContent {
    flex-direction: column;
    text-align: center;
    }
    .socialMedia {
    margin-top: 20px;
    justify-content: center;
    }
    }
    
    @media (max-width: 767px) {
        .footerContent {
        flex-direction: column;
        text-align: center;
        }
        
        .footerContent img {
        margin-right: 0;
        margin-bottom: 20px;
        }
        
        .footerContent nav {
        margin-bottom: 20px;
        }
        
        .footerBottom ul {
        flex-direction: column;
        align-items: center;
        }
        
        .footerBottom ul li {
        margin-right: 0;
        margin-bottom: 10px;
        }
        }
        @media only screen and (max-width: 480px) {
            .footerContent {
              flex-direction: column;
              align-items: center;
            }
          
            .footerContent img {
              margin-right: 0;
              margin-bottom: 20px;
            }
          
            .footerContent nav {
              margin-bottom: 20px;
            }
          
            .socialMedia {
              justify-content: center;
            }
          
            .footerBottom ul {
              flex-wrap: wrap;
              justify-content: center;
            }
          
            .footerBottom ul li {
              margin-right: 10px;
              margin-bottom: 10px;
            }
          
            .footerBottom ul li:last-child {
              margin-right: 0;
            }
          }