@import "../../../styles/setting";

.imgFond{
  position:fixed;
  height: auto;
  max-height: 86px;
  min-height: 10px;
  width: 100%;
  max-width: 1900px;
  min-width: 100px;
  top:0;
  left:0;
  z-index:2;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  min-width: 500px;
  top:0;
  margin-top:0.6%;
  margin-left: 1%;
}

h5 {
  color: $color-2;
  letter-spacing: 0px;
  font-size: 1.2vw;
}

.ulNavUser{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 68%;
  margin-right: 1%;
  z-index: 4;
}

.liNavUser {
  font-size: 1.4vw;
  color: $color-2;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: $color-1;
  }
}

.divLoginRegister{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.login {
  margin: 1%;
  font-size: 0.8vw;
  padding: 3%;
  text-align: center;
  color: #450ca0;
  background-color: #52fdfd;
  border-radius: 100px;
  height: auto;
  width: 8vw;
  right:100px;

  &:hover {
    color: $color-3;
  }
}


.logOut {  
  margin: 7%;
  font-size: 1.1vw;
  padding: 5%;
  text-align: center;
  color: #fefdff;
  background-color: #071CFF;
  border-radius: 100px;
  height: auto;
  width: 8vw;
  right:100px;

  &:hover {
    color: $color-1;
  }
}

.nav-active {

  &::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;
    z-index: 4;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}
